
@{
    ViewData["Title"] = "Movies";
    ViewData["Theaders"] = new string[] { "Title", "Rating", "Category", "Year", "Edited", "Lent to", "Notes" };
}

@model List<Movies>

<style>
    #data {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #data td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #data tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #data tr:hover {
            background-color: #ddd;
        }

        #data th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

    
</style>

<table id="data">
    <thead>
        <tr>
            @foreach (string header in (string[])ViewData["Theaders"])
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var mov in Model)
        {
            <tr>
                <td>@mov.title</td>
                <td>@mov.rating.rating</td>
                <td>@mov.category.category</td>
                <td>@mov.year</td>

                @if (mov.edited == true)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }

                <td>@mov.lentTo</td>
                <td>@mov.notes</td>
            </tr>

        }
    </tbody>
</table>

